  </div><!-- End .app -->
  <!-- Scripts -->
  <script src="//js.pusher.com/3.0/pusher.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script>
    $('#form-start-game').submit(function(e) {
      e.preventDefault();
      var playerName = $('#player-name').val();
      invokeNewGame(playerName);
    });

    var invokeNewGame = function(playerName) {
      $.ajax({
        url: '/game/new',
        method: 'post',
        data: {playerName: playerName},
        success: function(res) {
          $('#form-start-game').hide();
          $('.card-game__link').html('Play this game <a href="/game/' + res.gameId + '">' + res.gameId + '</a>');
        },
        error: function(res) {
          console.log(res);
        }
      });
    }
  </script>
  <script>
    var pusher = new Pusher("8dfaafabafb15e7bb4db", {
      cluster: 'eu',
      encrypted: true,
      authEndpoint: '/pusher_auth'
    });

    var channel = pusher.subscribe('private-game-{{ gameId }}');

    channel.bind('pusher:subscription_succeeded', function(data) {

      $('.game__button').click(function() {
        var selected = $(this).attr('data-move'),
            type;

        $('.game__button.current').removeClass('current');
        $(this).addClass('current');

        switch(selected) {
          case 'paper':
            console.log('is paper');
            break;
          case 'scissors':
            console.log('is scissors');
            break;
          case 'rock':
            console.log('is rock');
            break;
        }

        channel.trigger('client-someeventname', {
          type: selected,
          player_id: 012345
        });

      });

    });

    channel.bind('client-someeventname', function(data) {
      console.log(data);
    });


  </script>

</body>
</html>