{{> header}}
  {{> leaderboard}}
  <span class="timer" id="js-timer" data-timer="15:09">15:09</span>
  <main class="game">
  <div id="waiting-notice"></div>
    <button data-move="rock" data-element="3" class="game__button game__button--rock">
      <div class="players"><ul></ul></div>
    </button>
    <button data-move="paper" data-element="1" class="game__button game__button--paper">
      <div class="players"><ul></ul></div>
    </button>
    <button data-move="scissors" data-element="2" class="game__button game__button--scissors">
      <div class="players"><ul></ul></div>
    </button>
  </main>
{{> footer}}
