{{> header}}
  <div class="app">
    <form id="form-start-game">
      <label>Your Name</label>
      <input type="text" id="player-name">
      <button id="start-game">Start Game</button>
    </form>
    <div class="link-to-game"></div>
  </div>
{{> footer}}
