{{> header}}
  <div class="center-all">
    <div class="module">
      <h1 class="card-title">Create New Game</h1>
      <div class="card">

        <form id="form-start-game">
          <button id="start-game">Create Game</button>
        </form>

        <div class="card-game__link"></div>
      </div>
    </div>
  </div>
{{> footer}}
