{{> header}}
  <div class="module">
    <h1 class="card-title">Create New Game</h1>
    <div class="card">

      <form id="form-start-game">
        <label>Display name:</label>
        <input type="text" id="player-name">
        <button id="start-game">Start Game</button>
      </form>
      
      <div class="card-game__link"></div>
    </div>
  </div>
{{> footer}}
