<aside class="leaderboard">
  <h1>Leaderboard</h1>
  <ul class="leaderboard__list">
    <li>User one <span>40</span></li>
    <li>User two <span>23</span></li>
    <li>User three <span>98</span></li>
  </ul>
</aside>