$font-family-primary: 'GT Pressura Mono Web', sans-serif;
$color-green: #2cdecd;
$color-blue: #262832;
$color-black: #1C2931;

$color-primary: $color-green;

%font-family-primary {
  font-family: $font-family-primary;
}

@import 'partials/base';
@import 'partials/card';


a {
  color: #00b7ff;
}

#waiting-notice {
  color: white;
}

.leaderboard,
.game {
  position: relative;
  top: 0;
  float: left;
  height: 100vh;


}

.leaderboard {
  width: 300px;
  background-color: darken($color-black, 5%);
  border-right: 1px solid lighten($color-black, 5%);
  padding: 40px 0;
  display: none;

  @media screen and (min-width: 50em) {
    display: block;
  }

  h1 {
    @extend %font-family-primary;
    color: #fff;
    margin-left: 20px;
  }

  &__list {
    width: 100%;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      @extend %font-family-primary;
      width: 100%;
      height: 60px;
      border-bottom: 1px solid lighten($color-black, 2%);
      padding: 20px;
      color: #fff;
      font-size: 15px;
      background: darken($color-black, 4%);

      &:first-of-type {
        border-top: 1px solid lighten($color-black, 2%);
      }

      span {
        text-align: right;
        float: right;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.game {
  width: 100%;
  padding: 50px 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 50em) {
    width: calc(100% - 300px);
    display: flex;
    flex-direction: row;
  }
}

.game__button {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 50%;
  border: 0;
  float: left;
  cursor: pointer;
  border: 6px solid $color-blue;
  box-shadow: none;
  transition: box-shadow 100ms ease-in-out;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

  @media screen and (min-width: 50em) {
    width: 300px;
    height: 300px;
  }

  &:focus {
    outline: 0;
  }

  &--rock {
    background-color: #9B5CB5;
    background-image: url(../images/rock.png);

    &.current,
    &:hover {
      box-shadow: 0 0 0 12px #9B5CB5;
    }
  }

  &--paper {
    background-color: #FF4A51;
    background-image: url(../images/paper.png);

    &.current,
    &:hover {
      box-shadow: 0 0 0 12px #FF4A51;
    }
  }

  &--scissors {
    background-color: #F7C50C;
    background-image: url(../images/scissors.png);

    &.current,
    &:hover {
      box-shadow: 0 0 0 12px #F7C50C;
    }

  }
}

.timer {
  @extend %font-family-primary;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  margin: 0;
  padding: 0;
  line-height: 1em;
  position: absolute;
  width: 200px;
  right: 20px;
  top: 50px;
  text-align: left;

  // &:before,
  // &:after {
  //   font-size: 40px;
  //   line-height: 1em;
  //   font-weight: bold;
  //   background: $color-blue;
  //   clip: rect(0, 900px, 0, 0);
  //   color: #fff;
  //   content: attr(data-timer);
  //   white-space: pre;
  //   overflow: hidden;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   text-align: left;
  // }

  // &:before {
  //   animation: glitch-1 5s infinite linear alternate-reverse;
  //   text-shadow: 1px 0 #40bad8;
  //   left: 2px;
  // }

  // &:after {
  //   animation: glitch-2 3s infinite linear alternate-reverse;
  //   text-shadow: -1px 0 #f00;
  //   left: -2px;
  // }
}

@keyframes glitch-1{
    @for $i from 0 through 16 {
        #{percentage($i*(1/16))}{
            clip: rect(random(100)+px, 9999px, random(300)+px, 0);
        }
    }
}

@keyframes glitch-2{
    @for $i from 0 through 16 {
        #{percentage($i*(1/16))}{
            clip: rect(random(100)+px, 9999px, random(300)+px,0);
        }
    }
}