$font-family-primary: 'GT Pressura Mono Web', sans-serif;
$color-green: #2cdecd;
$color-blue: #262832;
$color-black: #1C2931;

$color-primary: $color-green;

%font-family-primary {
  font-family: $font-family-primary;
}

@import 'partials/base';
@import 'partials/card';


a {
  color: #00b7ff;
}

#waiting-notice {
  color: $color-black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $color-green;
  height: 40px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 0;
  transform: translateY(-40px);
  transition: transform 600ms cubic-bezier(.99,.01,.22,.94);

  &.show {
    transform: translateY(0px);

  }
}

.leaderboard,
.game {
  position: relative;
  top: 0;
  float: left;
  height: 100vh;


}

.leaderboard {
  width: 300px;
  background-color: darken($color-black, 5%);
  border-right: 1px solid lighten($color-black, 5%);
  padding: 40px 0;
  display: none;

  @media screen and (min-width: 50em) {
    display: block;
    overflow: hidden;
  }

  h1 {
    @extend %font-family-primary;
    color: #fff;
    margin-left: 20px;
  }

  &__list {
    width: 100%;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      @extend %font-family-primary;
      width: 100%;
      height: 60px;
      border-bottom: 1px solid lighten($color-black, 2%);
      padding: 20px;
      color: #fff;
      font-size: 15px;
      background: darken($color-black, 4%);

      &.winner-winner-chicken-dinner {
        background-color: $color-green;
      }

      &:first-of-type {
        border-top: 1px solid lighten($color-black, 2%);
      }

      span {
        text-align: right;
        float: right;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.game {
  width: 100%;
  padding: 50px 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 50em) {
    width: calc(100% - 300px);
    display: flex;
    flex-direction: row;
  }
}

.game__button {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 50%;
  border: 0;
  float: left;
  cursor: pointer;
  border: 6px solid $color-blue;
  box-shadow: none;
  transition: all 300ms cubic-bezier(.99,.01,.22,.94);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  position: relative;
  opacity: 1;
  transform: scale(1);



  @media screen and (min-width: 50em) {
    width: 300px;
    height: 300px;
  }

  &:focus {
    outline: 0;
  }

  &--disabled {
    opacity: .1;
    transform: scale(0.8);
    &:hover {
      box-shadow: none !important;
    }
  }

  &--rock {
    background-color: #9B5CB5;
    background-image: url(../images/rock.png);

    &.current,
    &:hover {
      box-shadow: 0 0 0 12px #9B5CB5;
    }

    &.current { 
      animation: breatheRock 2000ms ease-in-out infinite alternate;
    }

    .players {
      border-color: #9B5CB5;
      color:  #9B5CB5;
    }
  }

  &--paper {
    background-color: #FF4A51;
    background-image: url(../images/paper.png);

    &.current,
    &:hover {
      box-shadow: 0 0 0 12px #FF4A51;
    }

    &.current {
      animation: breathePaper 2000ms ease-in-out infinite alternate;
    }

    .players {
      border-color: #FF4A51;
      color: #FF4A51;
    }
  }

  &--scissors {
    background-color: #F7C50C;
    background-image: url(../images/scissors.png);

    &.current,
    &:hover {
      box-shadow: 0 0 0 12px #F7C50C;
    }

    &.current {
      animation: breatheScissors 2000ms ease-in-out infinite alternate;
    }

    .players {
      border-color: #F7C50C;
      color: #F7C50C;
    }
  }

  .players {
    position: relative;
    transform: translateY(140px);
    display: inline-block;
    margin: 0 auto;
    height: 30px;
    padding: 5px 10px;
    border-radius: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    border-width: 0;
    border-style: solid;

    @media screen and (min-width: 50em) {
      transform: translateY(200px);
    }
  }
}

@keyframes breatheRock {
  from {
    box-shadow: 0 0 0 12px #9B5CB5;
  }
  to {
    box-shadow: 0 0 0 4px #9B5CB5;
  }
}

@keyframes breathePaper {
  from {
    box-shadow: 0 0 0 12px #FF4A51;
  }
  to {
    box-shadow: 0 0 0 4px #FF4A51;
  }
}

@keyframes breatheScissors {
  from {
    box-shadow: 0 0 0 12px #F7C50C;
  }
  to {
    box-shadow: 0 0 0 4px #F7C50C;
  }
}
.timer {
  @extend %font-family-primary;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0 0;
  padding: 0;
  line-height: 1em;
  width: 200px;
  text-align: left;
  position: relative;
  text-align: center;
  width: 100%;
  display: block;
  z-index:9899999;

  @media screen and (min-width: 50em) {
    position: absolute;
    right: 20px;
    top: 50px;
    text-align: right;
    width: auto;
    display: inline;
  }



  // &:before,
  // &:after {
  //   font-size: 40px;
  //   line-height: 1em;
  //   font-weight: bold;
  //   background: $color-blue;
  //   clip: rect(0, 900px, 0, 0);
  //   color: #fff;
  //   content: attr(data-timer);
  //   white-space: pre;
  //   overflow: hidden;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   text-align: left;
  // }

  // &:before {
  //   animation: glitch-1 5s infinite linear alternate-reverse;
  //   text-shadow: 1px 0 #40bad8;
  //   left: 2px;
  // }

  // &:after {
  //   animation: glitch-2 3s infinite linear alternate-reverse;
  //   text-shadow: -1px 0 #f00;
  //   left: -2px;
  // }
}

@keyframes glitch-1{
    @for $i from 0 through 16 {
        #{percentage($i*(1/16))}{
            clip: rect(random(100)+px, 9999px, random(300)+px, 0);
        }
    }
}

@keyframes glitch-2{
    @for $i from 0 through 16 {
        #{percentage($i*(1/16))}{
            clip: rect(random(100)+px, 9999px, random(300)+px,0);
        }
    }
}